* {
  margin: 40;
  padding: 150;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  color: tomato;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #6a5acd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 125vh;
}

.neonText {
  animation: pulse 1.5s infinite alternate;
  color: #f6f6f6;
  font-weight: 400;
  font-size: 6rem;
  border: 0.2rem solid #f6f6f6;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 .8rem #fe6e00,
    0 0 1.8rem #fe6e00,
    0 0 2.8rem #fe6e00,
    inset 0 0 1.4rem #fe6e00;
}

@keyframes pulse {
  0% {
    text-shadow:
      0 0 .1rem #fff,
      0 0 .1rem #fff,
      0 0 .4rem #fe6e00,
      0 0 0.9rem #fe6e00,
      0 0 1.4rem #fe6e00,
      0 0 1.9rem #fe6e00;
  }

  100% {
    text-shadow:
      0 0 .25rem #fff,
      0 0 .5rem #fff,
      0 0 1rem #fe6e00,
      0 0 2rem #fe6e00,
      0 0 3rem #fe6e00,
      0 0 4rem #fe6e00;
  }
  nav-bar{
    .neonText {
      animation: pulse 1.5s infinite alternate;
      color: #f6f6f6;
      font-weight: 400;
      font-size: 6rem;
      border: 0.2rem solid #f6f6f6;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 .8rem #ff66ff,
        0 0 1.8rem #ff66ff,
        0 0 2.8rem #ff66ff,
        inset 0 0 1.4rem #ff66ff;
    }
    
    @keyframes pulse {
      0% {
        text-shadow:
          0 0 .1rem #fff,
          0 0 .1rem #fff,
          0 0 .4rem #ff66ff,
          0 0 0.9rem #ff66ff,
          0 0 1.4rem #ff66ff,
          0 0 1.9rem #ff66ff;
      }
    
      100% {
        text-shadow:
          0 0 .25rem #fff,
          0 0 .5rem #fff,
          0 0 1rem #ff66ff,
          0 0 2rem #ff66ff,
          0 0 3rem #ff66ff,
          0 0 4rem #ff66ff;
      }
  }
  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  li.dropdown {
    display: inline-block;
  
  }
  

}

body{
    
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;

  
  @media all and (max-width: 500px{
        header {
          font-size: 12pt;
        }
  }
  @media all and (max-width: 1024px) {
  }
}