* {
  margin: 90;
  padding: 80;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  color: tomato;
}

.body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #6a5acd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
}
.header {
  font-family: 'Rajdhani', sans-serif;
  background-color: #6a5acd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin: 0 auto;
}
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #bd57d9;
$nav-font-color: #1a1b1c;
$link-hover-color: #2581dc;
.navigation {
 height: $nav-height;
 background: $nav-background;
}

.business {
  position: absolute;
  padding: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}
.container flex {
  max-width: $content-width;
  margin 0 auto;
}
nav{
 float: right;
  .ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px; 
        }
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.navbar flex {
  justify-content: space-between;
}

.navbar a {
  padding: 30px;
  margin: 0 30px;
  border-radius: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  }
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  .dropdown {
    
  }

.neonText {
  animation: pulse 1.5s infinite alternate;
  color: #;
  font-weight: 400;
  font-size: 50px;
  border: 10px solid #f6f6f6;
  border-radius: 20px;
  padding: 2rem;
  list-style-type: none;
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 .8rem #fe6e00,
    0 0 1.8rem #fe6e00,
    0 0 2.8rem #fe6e00,
    inset 0 0 1.4rem #fe6e00;
}

@keyframes pulse {
  0% {
    text-shadow:
      0 0 .1rem #fff,
      0 0 .1rem #fff,
      0 0 .4rem #fe6e00,
      0 0 0.9rem #fe6e00,
      0 0 1.4rem #fe6e00,
      0 0 1.9rem #fe6e00;
  }

  100% {
    text-shadow:
      0 0 .25rem #fff,
      0 0 .5rem #fff,
      0 0 1rem #fe6e00,
      0 0 2rem #fe6e00,
      0 0 3rem #fe6e00,
      0 0 4rem #fe6e00;
  }
  
    .neonText {
      animation: pulse 1.5s infinite alternate;
      color: #f6f6f6;
      font-weight: 100;
      font-size: 1rem;
      border: 0.2rem solid #f6f6f6;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 .8rem #ff66ff,
        0 0 1.8rem #ff66ff,
        0 0 2.8rem #ff66ff,
        inset 0 0 1.4rem #ff66ff;
    }
    
    @keyframes pulse {
      0% {
        text-shadow:
          0 0 .1rem #fff,
          0 0 .1rem #fff,
          0 0 .4rem #ff66ff,
          0 0 0.9rem #ff66ff,
          0 0 1.4rem #ff66ff,
          0 0 1.9rem #ff66ff;
      }
    
      100% {
        text-shadow:
          0 0 .25rem #fff,
          0 0 .5rem #fff,
          0 0 1rem #ff66ff,
          0 0 2rem #ff66ff,
          0 0 3rem #ff66ff,
          0 0 4rem #ff66ff;
      }
      /*.ul li {
        list-style-type: none;
        margin: 10;
        padding: 0;
        background-color: purple;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        */
      }
      
  }

  li {
    display: block;
    transition-duration: 0.5s;
  }
  li:hover {
    cursor: pointer;
  }
ul li ul {
  visibilty: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1 rem;
  left: 0;
  display: none;
}
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  ul li ul li {
    clear: both;
    width: 100%;
  }
  /*a:hover,
  a:focus {
   */ 
  }
  /*li a{
    animation: pulse 1.5s infinite alternate;
      color: #f6f6f6;
      font-weight: 400;
      font-size: 1.5rem;
      border: 0.2rem solid #f6f6f6;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 .8rem #ff66ff,
        0 0 1.8rem #ff66ff,
        0 0 2.8rem #ff66ff,
        inset 0 0 1.4rem #ff66ff;
  }
  */
  }
  /*.navbar {
      animation: pulse 1.5s infinite alternate;
      color: #f6f6f6;
      font-weight: 400;
      font-size: 1rem;
      border: 10px solid #f6f6f6;
      border-radius: 20px;
      padding: 2rem;
      box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 .8rem #ff66ff,
        0 0 1.8rem #ff66ff,
        0 0 2.8rem #ff66ff,
        inset 0 0 1.4rem #ff66ff;
  }*/
  

}

/*.body{
    
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
*/
}
  @media all and (max-width: 500px{
        header {
          font-size: 12pt;
        }
  }
  @media all and (max-width: 1024px) {
  }
}